/* リセット */
*{
    padding:0;
    margin:0;
  }
/*
使用画面
index >>> header固定
*/
.header {
width: 100%;
position: fixed;
left:0;
top:0;
z-index: 10;
background:#ccc;
padding:10px;
}

/*
使用画面
index >>> thead固定
テーブルスクロール
*/
.th_td1 {
    width: 198px;
}

.th_td2 {
    width: 1079px;
}

.th_td3 {
    width: 59px;
}

thead, tbody {
    display: block;
}
tbody {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 800px;
  }

/*
使用画面
login.blade.php
create.User.blade.php
create.blade.php
edit.blade.php
*/
.wrapper .container{
    max-width:1000px;
    padding:80px 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    width: 30em;
    transform: scale(1.3, 1.3);
}


/*
使用画面
index.blade.php
*/
.wrapper2 .container2{
    max-width:1500px;
    
    margin-left: auto;
    margin-right: auto;
    margin-top: 135px;
    width: 110em;
}